<%- include("layouts/header") -%>
        <h1>Log In</h1>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email ID" required>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" value="Log In">
        </form>
<%- include("layouts/footer") -%>