<html>
  <head>
    <title>
      TruckAI | SignUP
    </title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="email" placeholder="Email ID">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="confirm_password" placeholder="Confirm Password">
      <input type="submit" value="Sign Up">
    </form>
  </body>
</html>