<%- include("layouts/header") -%>
<h1>Welcome <%=user.name %></h1>
        <form action="/logout" method="">
            <input type="submit" value="Logout">
        </form>

        <form action="/trucks" method="">
            <input type="submit" value="View Trucks">
        </form>
<%- include("layouts/footer") -%>

